<div class="flex flex-col md:w-1/2 xl:w-1/3 w-full mx-auto relative md:my-auto md:px-0 px-4">
  <div class="absolute text-white md:top-0 top-2 md:right-0 right-2 align-center border border-white rounded-lg px-2 py hover:bg-white hover:text-gray-800 duration-200">
    <%= link_to "Sign Out", signout_path, data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>

  <% if @current_user %>
    <div class="text-3xl font-light mb-4 text-left md:pt-0 pt-2 text-white">Hi, <%= @current_user.username %>.</div>
  <% end %>

  <div class="md:px-0 px-8 w-full flex md:flex-row flex-col justify-around md:space-x-4 md:space-y-0 space-y-8">

    <div class="mx-auto relative md:w-1/2 w-full border border-gray-400 rounded-lg h-80 bg-sky-900 overflow-y-scroll text-center ">
      <p class="sticky text-white text-center border-b border-gray-400 top-0 inset-x-1 text-xl font-normal mb-2 z-10 bg-sky-900 w-full py-1">Users</p>
      <%= turbo_stream_from "users" %>
      <div id="users" class="space-y-2">
        <%= render @users %>
      </div>
      <% if @current_user.is_admin && @users.length>0 %>
        <div class="text-white font-semibold hover:underline py-1 mt-2 w-full text-center sticky bottom-0 bg-sky-900 border-t border-gray-400 z-10">
          <%= link_to 'Manage Users', users_path %>
        </div>
      <% end %>
    </div>


    <div class="mx-auto relative md:w-1/2 w-full border border-gray-400 rounded-lg pb-2 h-80 bg-sky-900 overflow-y-scroll">
      <p class="sticky top-0 inset-x-1 text-xl text-center font-normal mb-2 bg-sky-900 w-full py-1 border-b border-gray-400 text-white">Public Rooms</p>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms" class="space-y-2">
        <%= render @rooms %>
      </div>
    </div>

  </div>
  <% if @current_user.is_admin %>
    <%= render partial: "rooms/new_room_form" %>
  <% end %>
</div>